body{
				background-color: #7C6662;
				}
		h1,h2,p {
				font-family:Georgia, serif;
			   }
	  	h3{
				background-color:rgb(222,187,154);
			}
	  	h1{
				background-color:hsla(330, 6%, 44%, 1);
			}
		p{
				background-color:rgb(222,187,154);
			}
		ul{
				background-color:rgb(222,187,154);
			}
			
		